<p><%= l(activity.created_at) %></p>
<p>
  <%= t("ubiquo.activity_info.#{activity.status}_create_message",
        :user => activity.ubiquo_user.login,
        :object_name => t("ubiquo.#{activity.related_object.class.human_name.underscore}.entity"),
        :object_id => activity.related_object_id,
        :action => activity.action) %>
</p>
<% if activity.status != "error" && activity.related_object %>
  <p>
    <%= link_to t("ubiquo.activity_info.show_it"),
          :action => 'show', :controller => activity.controller, :id => activity.related_object_id  %>
  </p>
<% end %>